body {
	background-color: #3c6566;
	font-family: Meiryo;
	color: #1e3233;
}

.main-contents {
	background-color: #5f9ea0;
	width: 800px;
	height: 100%;
	padding: 10px;
}

.post-box {
	background-color: #5f9ea0;
	width: 780px;
	height: 56px;
}

.header {
	text-align: right;
}

.profile {
	height: 100px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.profile .profile-image {
	float: left;
}

.profile .name h2 {
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
	margin: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

a.profile .loginId {
	font-size: 13px;
	line-height: 22px;
}

.form-area {
	margin-top: 00px;
	margin-right: 00px;
	margin-bottom: 00px;
	margin-left: 00px;
	background-color: #5a9799;
}

.post-icon {
	border-bottom-style: ridge;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	height: 80px;
}

.post-icon .icon {
	margin-top: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
	margin-left: 1px;
	float: left;
}

.post-icon .category {
	height: 20px;
}

.post-icon .subject {
	height: 20px;
}

.post-icon .text {
	height: 40px;
}

.post-icon .posts{
	margin-left: 60px;
}

.post-icon .account {
	margin-top: 1px;
	margin-bottom: 5px;
}

.post-icon .account .login_id {
	font-weight: bold;
}

.account .name {
	font-weight: lighter;
	font: small-caption;
}

.post .date {
	font-weight: lighter;
	font: small-caption;
}

.copyright {
	width: 250px;
	margin: 0 auto;
}

label {
	display: block;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}